header{
    font-size:xx-large;
    text-align:left;
    height: 180px;
    width: 95%;
    margin-left: 20px;   
}

nav{
    border-bottom: 5px solid lightgrey;
    font-size: medium;
    height: 40px;
    width: 95%;
    display: flex;
    justify-content: flex-end;
}

aside{
    margin: 30px;
}

section{   
    margin: 20px;
}

figure{
    display: flex;
    justify-content: center;
}

figcaption{
    display: flex;
    justify-content: center;
}

article{
    width: 70%;
    margin: 30px;
}

#comentario2{
    text-align: end;
}

#postDest{
    width: 70%;
    margin: 30px;
}

#section2{
    width: 70%;
}

footer{
    background-color: lightgray;
    width: 95%;
    margin: 20px;
    display: flex;
    justify-content:space-around;
}